
.posts-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
  gap: 1.5rem;
  /* padding: 20px 1px 130px 0px; */
  padding-bottom: 50px;
  max-width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
}